.index{
    height: 100%;
}
.top{
    height: 100%;
}
.index-left{
    height: 100%;
}
.index-right{
    height: 94%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 7px lightgray;
    position: relative;
    left: 30px;
}
.index-right:hover{
    box-shadow: 3px 3px 7px lightgray;
}
.chart{
    background: white;
    height: 70%;
    border-radius: 6px;
    box-shadow: 0 0 7px lightgray;
}
.graph{
    height: 100%    ;
}
.chart:hover{
    box-shadow: 3px 3px 7px lightgray;
}
.toDay{
    background: white;
    height: 23%;
    border-radius: 6px;
    box-shadow: 0 0 7px lightgray;
    margin-top: 10px;
}
.toDay:hover{
    box-shadow: 3px 3px 7px lightgray;
}
.table-title{
    margin-bottom: 0;
    color: #9E9E9E;
}
.bottom{

}
.index-table{
    height: 100%;
}