.home-page-header{
    background-color: white;
    border-bottom: 1px solid lightgray;
    background-image: url("http://211.67.81.7/images/login-background.svg");
}
.home-page-steward{
    color: #1296DB;
    font-size: 2em;
    margin-bottom: 0;
    margin-left: 10px;
}
.home-page-steward:hover{
    cursor:pointer;
}
.home-page-right{
    display: flex;
    justify-content: flex-end;
}
.home-page-user-box{
    display: flex;
    align-items: center;
}
.home-page-user-box:hover{
    cursor: pointer ;
}
.home-page-user-box p{
    margin-bottom: 0;
    color: #9E9E9E;
}