#components-layout-demo-top-side-2 .logo {
    width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);
    margin: 16px 28px 16px 0;
    float: left;
}
.homePage{
    height: 100%;
}
.ant-layout-sider-trigger{
    position: relative;
}
.ant-layout-sider-trigger:hover{
    box-shadow: 0 0 5px #1890FF;
}
.content{
    height: 100%;
    overflow: scroll;
}